#page {  
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

table, td {
    border-radius: 5px;
    padding: 5px;
}

td {
    width: 30px;
    height: 30px;
    border: 2px black solid;
}

th {
    border: none;
    padding: 10px;
}

* {
    font-family: 'Commissioner', sans-serif;
}

#score {
    position: absolute;
    border: 2px black solid;
    border-radius: 5px;
    min-width: 110px;
    color: black;
    padding: 10px;
    font-size: 12px;
    z-index: 1;
}
